body {
	margin: 0;
	text-align: center;
}

/* Style the header */
header {
    background-color: thistle;
    padding: 5px;
    text-align: center;
    color: white;
}

section {
	padding: 5px;
}

/* Style the footer */
footer {
    background-color: thistle;
    padding: 10px;
    text-align: center;
    color: white;
}

div.grid1 {
	background-color: pink;
	animation-name: ani_grid1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

div.grid2 {
	background-color: gold;
	animation-name: ani_grid2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

div.grid3 {
	background-color: brown;
}

div.grid4 {
	background-color: slategray;
}

/* CSS transform standard syntax */
@keyframes ani_grid1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes ani_grid2 {
	0% {background-color: burlywood;}
	20% {background-color: darkkhaki;}
	40% {background-color: chocolate;}
	60% {background-color: peru;}
	80% {background-color:orange;}
	100% {background-color: gold;}
}

.fas {
	animation-name: heartbeat;
    animation-duration: var(--heartbeat);
	animation-iteration-count: infinite;
}

@keyframes heartbeat {
	from {transform: scale(1,1); color: white;}
	to {transform: scale(1.2,1.2); color: red;}
}

div.container {
 width: 840px;
 height: 420px;
 margin: 0px auto;
}

div.grid {
 width: 180px;
 height: 180px;
 margin: 5px;
 line-height: 180px;
 box-shadow: 5px 5px 5px thistle;
 font-size: 15px;
 display: inline-block;
}